SECRET_KEY=
#you can use EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend to get emails in the terminal just to test it in a dev enviornment so you wouldnt have to set any other EMAIL variables
EMAIL_BACKEND=
EMAIL_HOST= 
EMAIL_HOST_USER= 
EMAIL_HOST_PASSWORD= 
EMAIL_PORT= 
EMAIL_USE_TLS= 
CITESPHERE_ENDPOINT=
CITESPHERE_CLIENT_ID=
CITESPHERE_CLIENT_SECRET=
CITESPHERE_REDIRECT_URI=http://localhost:8000/oauth/callback/citesphere/
CONCEPTPOWER_USERID=
CONCEPTPOWER_PASSWORD=
CONCEPTPOWER_ENDPOINT=