
.flex-container {
    display: flex;
    align-items: center; /* Align items vertically in the center */
    justify-content: start; /* Align content to the start of the flex container */
}

.logo-container {
    flex: 0 0 auto; /* Do not grow, do not shrink, and base width on the content */
    margin-right: 20px; /* Add some space between the logo and the info */
}

.info-container {
    flex: 1; /* Take up the remaining space */
}

/* For Citesphere Group List */
.card-custom {
    border: 1px solid #ccc; /* Light gray border */
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    padding: 10px;
}

.row-padding {
    margin-top: 15px;
    margin-bottom: 15px;
}

.float-r {
    float: right;
}