<div class="list-group-item" style="position: relative; padding: 0px 0px; padding-top: 10px;">
    <button class="btn btn-link p-0 text-primary" 
            id="toggle-btn-{{ collection.key }}"
            onclick="toggleSubcollections('{{ collection.key }}')"
            style="position: absolute; left: 0.5em; top: 0.8em;">
        <i id="arrow-{{ collection.key }}" class="arrow-icon">&#9654;</i>
    </button>

    <div class="row" style="margin-left: 2em;">
        <div class="col-xs-9">
            <h6 class="mb-1">{{ collection.name }}</h6>
            <small class="text-muted">Items: {{ collection.numberOfItems }}</small>
        </div>
        <div class="col-xs-3">
            <a href="{% url "repository_collections_text_list" repository.id group_id collection.key %}{% if project_id %}?project_id={{ project_id }}{% endif %}" 
               class="btn btn-primary btn-circle pull-right">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="bi bi-eye" viewBox="0 0 16 16">
                    <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z"/>
                    <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"/>
                </svg>
            </a>
        </div>
    </div>

    <div class="list-group" 
         id="subcollections-{{ collection.key }}"
         style="margin-left: 1.5em; margin-top: 0.5em; display: none;">
    </div>
</div>