{% extends "annotations/base.html" %}
{% load staticfiles %}
{% load app_filters %}
{% load addcss %}

{% block breadcrumbs %}
<a href="{% url "home" %}" class="btn btn-xs">Home</a>&raquo;<a href="{% url "concepts" %}" class="btn btn-xs">Concepts</a>{% if concept.instance.id %}&raquo;<a href="{% url "concept" concept.instance.id %}" class="btn btn-xs">{{ concept.instance.label }}</a>{% endif %}&raquo;<a href="" class="btn btn-xs">Add</a>
{% endblock %}


{% block main %}
<div class="container-fluid">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="h3">Are you sure?</div>
                <p class="text-warning">
                    This will ultimately create a permanent record in the Conceptpower name authority.
                    Creating a new record that duplicates an existing record can lead to all kinds of
                    nasty things in the future.
                    <dl class="dl-horizontal">
                        <dt>Label</dt>
                        <dd>{{ concept.instance.label }}</dd>
                        <dt>URI</dt>
                        <dd>{{ concept.instance.uri }}</dd>
                        <dt>Type</dt>
                        <dd>{{ concept.instance.typed }}</dd>
                        <dt>Description</dt>
                        <dd>{{ concept.instance.description }}</dd>
                    </dl>
                </p>

                {% if matches %}
                <div class="alert alert-danger">
                    <div class="h4">This concept matches an existing entry!</div>
                    <p>
                        Another user (maybe you) has previously indicated that a concept
                        with the same URI is equivalent to the Conceptpower record(s) below.
                        Unless you have some reason to disagree with that equivalence, it is
                        highly recommended that you merge the concept above with (one of)
                        the Conceptpower record(s) below.
                    </p>
                </div>

                <ul class="list-group">
                    {% for candidate in matches %}
                    <li class="list-group-item clearfix">
                        <div class="pull-right btn-group">
                            <a class="btn btn-success" href="{% url "merge_concepts" concept.instance.id %}?target={{ candidate.uri }}&next={{ next_page }}">Merge</a>
                        </div>
                        <div><strong>{{ candidate.label }}</strong> </div>
                        <div class="text-warning">
                            <span class="glyphicon glyphicon-globe"></span>
                            {{ candidate.uri }}
                        </div>
                        <p>
                            {{ candidate.description }}
                        </p>
                    </li>
                    {% endfor %}
                </ul>
                {% endif %}

                {% if candidates %}
                <div class="h4">This concept looks a lot like...</div>
                <ul class="list-group">
                    {% for candidate in candidates %}
                    <li class="list-group-item clearfix">
                        <div class="pull-right btn-group">
                            <a class="btn btn-success" href="{% url "merge_concepts" concept.instance.id %}?target={{ candidate.uri }}&next={{ next_page }}">Merge</a>
                        </div>
                        <div><strong>{{ candidate.label }}</strong> </div>
                        <div class="text-warning">
                            <span class="glyphicon glyphicon-globe"></span>
                            {{ candidate.uri }}
                        </div>
                        <p>
                            {{ candidate.description }}
                        </p>
                    </li>
                    {% endfor %}
                </ul>
                {% endif %}
                {% if not concept.is_external %}
                    <div class="panel panel-default" id="search-panel" style="transition: all 0.3s ease;">
                        <div class="panel-heading">
                            <h4 class="panel-title">Search Conceptpower for a matching concept</h4>
                        </div>
                        <div class="panel-body">
                            <form method="get" action="{% url 'concept_search' %}" class="form-inline">
                                <input type="hidden" name="next" value="{{ next_page }}">
                                {% if concept.instance.id %}
                                <input type="hidden" name="concept_id" value="{{ concept.instance.id }}">
                                {% endif %}
                                <div class="input-group">
                                    <input type="text" name="search" class="form-control" placeholder="Search concepts..." value="{{ search_query }}">
                                    <div class="input-group-btn">
                                        <button type="submit" class="btn btn-default">Search</button>
                                    </div>
                                </div>
                            </form>
                            
                            {% if search_results %}
                            <div class="list-group list-group-compact" id="concept-search-results">
                                {% for concept in search_results %}
                                <a class="list-group-item concept-item">
                                    <div class="pull-right btn-group">
                                        {% if concept.instance.id %}
                                        <a class="btn btn-success" href="{% url 'merge_concepts' concept.instance.id %}?target={{ concept.uri }}&next={{ next_page }}">Merge</a>
                                        {% endif %}
                                    </div>
                                    <strong>{{ concept.label }}</strong>
                                    {% if concept.concept_type %}
                                    <div class="pull-right">
                                        <label class="label label-primary">
                                            {{ concept.concept_type.type_name|default:concept.concept_type.type_uri }}
                                        </label>
                                    </div>
                                    {% endif %}
                                    <div class="text-warning">
                                        {{ concept.authority.name }}: {{ concept.uri }}
                                    </div>
                                    {% if concept.description %}
                                    <p><span class="text text-muted">{{ concept.description }}</span></p>
                                    {% endif %}
                                </a>
                                {% endfor %}
                                
                                {% if has_more %}
                                <form method="get" action="{% url 'concept_search' %}" class="form-inline">
                                    <input type="hidden" name="search" value="{{ search_query }}">
                                    <input type="hidden" name="page" value="{{ page|add:1 }}">
                                    <input type="hidden" name="next" value="{{ next_page }}">
                                    {% if concept.instance.id %}
                                    <input type="hidden" name="concept_id" value="{{ concept.instance.id }}">
                                    {% endif %}
                                    <button type="submit" class="btn btn-default btn-block">Load More</button>
                                </form>
                                {% endif %}
                            </div>
                            {% endif %}
                        </div>
                    </div>
                {% endif %}
                <div class="clearfix">
                    <a class="btn btn-md btn-danger" href="{{ back_to_page }}">Take me back!</a>
                    <form method="post" style="display: inline;">
                        {% csrf_token %}
                        <input type="hidden" name="next" value="{{ next_page }}">
                        <button type="submit" class="btn btn-md btn-{% if matches or candidates %}warning{% else %}success{% endif %}">
                            {% if matches or candidates %}I accept the risks: add anyway!{% else %}Resolve{% endif %}
                        </button>
                    </form>
                    {% if concept.instance.concept_state != concept.instance.FLAGGED %}
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#flagModal">
                        Flag concept
                    </button>
                    <div class="modal fade" id="flagModal" tabindex="-1" role="dialog" aria-labelledby="flagModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <form action="{% url 'flag_concept' concept.instance.id %}" method="post">
                                {% csrf_token %}
                                <div class="modal-header">
                                    <h5 class="modal-title" id="flagModalLabel">Flag Concept
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            &times;
                                        </button>
                                    </h5>
                                </div>
                        
                                <div class="modal-body">
                                    <div class="form-group">
                                        <label for="flag_comment">Comment:</label>
                                        <textarea 
                                            class="form-control" 
                                            name="flag_comment" 
                                            id="flag_comment" 
                                            placeholder="Please enter comment here..." 
                                        ></textarea>
                                    </div>
                                </div>
                        
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-primary">Flag Concept</button>
                                </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}