{% extends "annotations/base.html" %}
{% load staticfiles %}
{% load app_filters %}
{% load addcss %}
{% load concept_tags %}

{% block extrahead %}
<link rel="stylesheet" href="{% static 'annotations/css/comments.css' %}">
{% endblock %}

{% block main %}
<style>      
    .relations-toggle:focus , .relations-toggle:hover{
        text-decoration: none;
    }
    
    .arrow {
        width: 12px;
        height: 12px;
        margin-left: 5px;
        transition: transform 0.2s;
    }
    
    .arrow.open {
        transform: rotate(180deg);
    }
</style>

<div class="container-fluid">
    {% if messages %}
    <div class="row">
        <div class="col-md-12">
            {% for message in messages %}
            <div class="alert alert-danger alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                {{ message }}
            </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}
    <form class="form" action="" method="get">
        <div class="row">
            <div class="col-sm-6">
                {% with filter.form.authority as field %}
                <div class="form-group">
                {% if field.errors %}
                {% for error in field.errors %}
                <div class="alert alert-warning">{{ error }}</div>
                {% endfor %}
                {% endif %}
                    <div class="input-group">
                        <span class="input-group-addon">Authority</span>
                        {{ field|addcss:"form-control input-sm" }}
                    </div>
                </div>
                {% endwith %}
            </div>
            <div class="col-sm-6">
                {% with filter.form.pos as field %}
                <div class="form-group">
                {% if field.errors %}
                {% for error in field.errors %}
                <div class="alert alert-warning">{{ error }}</div>
                {% endfor %}
                {% endif %}
                    <div class="input-group">
                        <span class="input-group-addon">POS</span>
                        {{ field|addcss:"form-control input-sm" }}
                    </div>
                </div>
                {% endwith %}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                {% with filter.form.concept_state as field %}
                <div class="form-group">
                {% if field.errors %}
                {% for error in field.errors %}
                <div class="alert alert-warning">{{ error }}</div>
                {% endfor %}
                {% endif %}
                    <div class="input-group">
                        <span class="input-group-addon">State</span>
                        {{ field|addcss:"form-control input-sm" }}
                    </div>
                </div>
                {% endwith %}
            </div>
            <div class="col-sm-6">
                {% with filter.form.typed as field %}
                <div class="form-group">
                {% if field.errors %}
                {% for error in field.errors %}
                <div class="alert alert-warning">{{ error }}</div>
                {% endfor %}
                {% endif %}
                    <div class="input-group">
                        <span class="input-group-addon">Type</span>
                        {{ field|addcss:"form-control input-sm" }}
                    </div>
                </div>
                {% endwith %}
            </div>
        </div>
        <div class="clearfix">
            <input type="submit" class="btn btn-xs btn-default pull-right" value="Apply" />
        </div>
    </form>
    <div class="row">
        <div class="col-xs-4  clearfix text-center">
            {% if concepts.has_previous  %}
            <div class="pull-left">
                <a href="?page={{ concepts.previous_page_number }}&{{ params_data }}" class="btn btn-xs">&laquo; Previous</a>
            </div>
            {% endif %}
        </div>
        <div class="col-xs-4  clearfix text-center">

            <span>
                Page {{ concepts.number }} of {{ concepts.paginator.num_pages }}.
            </span>
        </div>
        <div class="col-xs-4  clearfix text-center">
            {% if concepts.has_next %}
            <div class="pull-right">
                <a href="?page={{ concepts.next_page_number }}&{{ params_data }}">Next &raquo;</a>
            </div>
            {% endif %}
        </div>
    </div>
    <div class="list-group relation-list-group">
    {% for concept in concepts %}
        {% with concept|get_namespace as namespace %}
        {% with concept.concept_state as concept_state %}
        <div class="list-group-item">
            <div class="pull-right">
                <div class="btn-group">
                    <a class="btn btn-xs btn-default glyphicon {% if concept_state  == concept.PENDING %}glyphicon-hourglass{% elif concept_state  == concept.REJECTED %}glyphicon-thumbs-down{% elif concept_state  == concept.MERGED %}glyphicon-arrow-right{% elif concept_state  == concept.RESOLVED %}glyphicon-thumbs-up{% elif concept_state == concept.FLAGGED %}glyphicon-flag{% else %}glyphicon-ok-circle{% endif %}"
                        data-toggle="tooltip"
                        data-placement="left"
                        data-container="body"
                        style="color: {% if concept_state  == concept.PENDING %}gray{% elif concept_state  == concept.REJECTED %}red{% elif concept_state  == concept.APPROVED %}orange{% else %}green{% endif %};"
                        title="{{concept.get_concept_state_display}}"
                        {% if concept_state  == concept.MERGED %}href="{{ concept.merged_with.get_absolute_url }}"{% endif %}
                        ></a>
                </div>
                <div class="btn-group">
                    {% if concept_state == concept.PENDING or concept_state == concept.FLAGGED %}
                        {% if not concept|is_conceptpower_namespaced %}
                            <a style="top: 1;" href="{% url "add_concept" concept.id %}?next={{ path }}" class="btn btn-xs btn-success">
                                Resolve
                            </a>
                        {% endif %}
                    {% endif %}
                    {% if concept_state  == concept.APPROVED %}{% if concept.typed %}<a style="top: 1;" href="{% url "add_concept" concept.id %}?next={{ path }}" class="btn btn-xs btn-success">Add</a>{% else %}<a href="{% url "edit_concept" concept.id %}?next={{ path }}" class="btn btn-xs btn-primary">Set Type</a>{% endif %}{% endif %}
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <a href="{{ concept.get_absolute_url }}"><span class=" glyphicon glyphicon-stats"></span></a>
                    <strong>{{ concept.label }}</strong>
                    <span class="badge">{{ concept.appellation_set.count }}</span>
                </div>
                <div class="col-sm-5 text-warning">
                    <span class="glyphicon glyphicon-globe"></span>
                    {{concept.authority}}: {{ concept.uri|urlize }}
                </div>
            </div>
            <div>
                {{ concept.description }}
            </div>
            {% if user.is_admin %}
            <div class="clearfix">

                <span class="text-success">{% if concept.typed.label %}{{ concept.typed.label }}{% else %}{{ concept.typed.uri }}{% endif %}</span>
            </div>
            {% endif %}
            {% if concept_state == concept.FLAGGED %}
            <div>
                <a href="{{ concept.get_absolute_url }}" class="concept-comments-link">
                    {% if concept.comments.exists %}
                        <span><i class="glyphicon glyphicon-comment"></i> View Comments</span>
                    {% else %}
                        <span><i class="glyphicon glyphicon-plus"></i> Add Comment</span>
                    {% endif %}
                </a>
            </div>
            {% endif %}
            
            {% if concept.relations.exists %}
                <hr>
                <p>
                    <a class="relations-toggle" 
                       data-toggle="collapse" 
                       href="#collapse-{{ concept.id }}" 
                       role="button" 
                       aria-expanded="false" 
                       aria-controls="collapse-{{ concept.id }}"
                       style="display: inline flex; align-items: center; color: black;"
                       onclick="toggleArrow(this, '{{ concept.id }}')">
                        Show Relations ({{ concept.relations.count }}) 
                        <svg class="arrow" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                            <polyline points="6 9 12 15 18 9"></polyline>
                          </svg>
                    </a>
                </p>
                
                <!-- Collapsing Div -->
                <div class="collapse" id="collapse-{{ concept.id }}">
                    <ul style="list-style: none; padding-left: 0;">
                        <div class="list-group relation-list-group">
                            {% for relation in concept.relations %}
                                <div class="list-group-item">
                                    <div>{% if relation.representation %}{{ relation.representation }}{% else %}{{ relation.template.name }}: {% for concept in relation.concepts %}{% if concept.label %}<span class="text-warning">{{ concept.label }}</span>; {% endif %}{% endfor %}{% endif %} <span class="text-muted">{% for predicate, date in relation.date_appellations_with_predicate %}<span class="label label-default" style="margin-right: 5px; margin-left: 5px;">{{ predicate.label.title }}: {{date}}</span>{% endfor %}</span></div>
                                    <div class="text-muted">
                                        <span class="glyphicon glyphicon-user"></span>
                                        Asserted by <a href="{% url "user_details" relation.createdBy.id %}">{{ relation.createdBy }}</a> on {{ relation.created}}
                                    </div>
                                    <div class="text-warning">
                                        <span class="glyphicon glyphicon-book"></span>
                                        {% if user.is_authenticated and user == relation.project.ownedBy or user in relation.project.collaborators.all %}
                                            <a href="{{ relation.occursIn.get_absolute_url }}">{{ relation.occursIn.top_level_text.title }}</a>
                                        {% else %}
                                            <span>{{ relation.occursIn.top_level_text.title }}</span>
                                        {% endif %}
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </ul>
                </div>
        {% endif %}
        </div>
        {% endwith %}
        {% endwith %}
    {% endfor %}
    </div>
    <div class="row">
        <div class="col-xs-4  clearfix text-center">
            {% if concepts.has_previous  %}
            <div class="pull-left">
                <a href="?page={{ concepts.previous_page_number }}&{{ params_data }}" class="btn btn-xs">&laquo; Previous</a>
            </div>
            {% endif %}
        </div>
        <div class="col-xs-4  clearfix text-center">

            <span>
                Page {{ concepts.number }} of {{ concepts.paginator.num_pages }}.
            </span>
        </div>
        <div class="col-xs-4  clearfix text-center">
            {% if concepts.has_next %}
            <div class="pull-right">
                <a href="?page={{ concepts.next_page_number }}&{{ params_data }}">Next &raquo;</a>
            </div>
            {% endif %}
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
      const toggles = document.querySelectorAll('[data-toggle="collapse"]');
      
      toggles.forEach(toggle => {
        toggle.addEventListener('click', function(e) {
          e.preventDefault();
          
          const targetId = this.getAttribute('href');
          const targetContent = document.querySelector(targetId);
          
          const arrow = this.querySelector('.arrow');
          
          const isOpen = targetContent.classList.contains('open');
          
          if (isOpen) {
            targetContent.classList.remove('open');
            arrow.classList.remove('open');
            this.setAttribute('aria-expanded', 'false');
          } else {
            targetContent.classList.add('open');
            arrow.classList.add('open');
            this.setAttribute('aria-expanded', 'true');
          }
        });
      });
    });
  </script>

{% endblock %}
