{% extends "annotations/base.html" %}
{% load staticfiles %}

{% block extrahead %}
<script>
$(document).ready(function() {
    // Disable submit button if username field is empty
    $('.add-collaborator-form input[name="username"]').on('input', function() {
        var submitBtn = $(this).closest('form').find('button[type="submit"]');
        submitBtn.prop('disabled', !$(this).val());
    });
    
    $('.add-collaborator-form button[type="submit"]').prop('disabled', true);

    $('[data-toggle="tooltip"]').tooltip({
        html: true,
        placement: 'bottom',
        trigger: 'hover'
    });
});
</script>

<style>
.tooltip-inner {
    max-width: 300px;
    padding: 10px;
    text-align: left;
}
</style>
{% endblock %}

{% block main %}

{% if messages %}
<div class="row">
    <div class="col-md-12">
        {% for message in messages %}
        <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %} alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            {{ message }}
        </div>
        {% endfor %}
    </div>
</div>
{% endif %}


<div class="container-fluid">
    <!-- Project Details Header Section -->
    <div class="row">
        <div class="col-md-12">
            <div class="h4 text-muted">Project Details</div>
            {% block titleblock %}
            <div style="margin-bottom: 30px;">
                <div class="h2">
                    {{ project.name }}
                    <span class="btn-group pull-right">
                        <a class="btn btn-success"
                            href="{% url "repository_list" %}?project_id={{ project.id }}">
                            <span class="gylphicon glyphicon-plus"></span> Add Text
                        </a>
                    {% if user.id == project.ownedBy.id%}
                        <a class="btn btn-primary"
                            href="{% url "edit_project" project.id %}">
                            <span class="gylphicon glyphicon-pencil"></span> Edit Project
                        </a>
                    </span>
                    {% endif %}
                </div>
                <div class="text text-muted" style="margin: 15px 0;">{{ project.description }}</div>
                <div class="text-warning">
                    Created by <a href="{% url "user_details" project.ownedBy.id %}">{{ project.ownedBy.username }}</a> on {{ project.created }}
                </div>
                <div class="text-info">
                    {{ project.num_texts }} texts, {{ project.num_relations }} relations
                </div>
            </div>
            {% endblock %}
        </div>
    </div>

    <!-- Content Section -->
    <div class="row">
        <!-- Texts Section -->
        <div class="col-md-8">
            {% if texts|length > 0 %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Project Texts</h3>
                </div>
                <div class="panel-body">
                    <table class="table table-hover table-responsive">
                        <thead>
                            <th class="col-xs-9">
                                <span class="h4" style="text-decoration: none; vertical-align: middle;" id="order_title">Title</span>
                                <a class="btn btn-sm btn-default" aria-label="Left Align" href="{% if order_by == '-title' %}?order_by=title{% else %}?order_by=-title{% endif %}">
                                    <span class="glyphicon glyphicon-sort-by-alphabet{% if order_by != '-title' %}-alt{% endif %}" aria-hidden="true"></span>
                                </a>
                            </th>
                            <th>
                                <span class="h4" style="text-decoration: none; vertical-align: middle;" id="order_added">Added</span>
                                <a class="btn btn-sm btn-default" aria-label="Left Align" href="{% if order_by == '-added' %}?order_by=added{% else %}?order_by=-added{% endif %}">
                                    <span class="glyphicon glyphicon-sort-by-order{% if order_by != '-added' %}-alt{% endif %}" aria-hidden="true"></span>
                                </a>
                            </th>
                        </thead>
                        <tbody>
                            {% for text in texts %}
                            <tr>
                                <td><a href="{% url "annotate" text.id %}?project_id={{ project.id }}">{{ text.title }}</a></td>
                                <td>{{ text.added }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                    <ul class="pagination pagination-sm">
                        {% if texts.has_previous %}
                        <li>
                            <a href="?{% if query %}q={{ query }}&amp;{% endif %}page={{ texts.previous_page_number }}{% if order_by %}&amp;order_by={{ order_by }}{% endif %}">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        {% endif %}
                        {% for p in texts.paginator.page_range %}
                        <li{% if p == texts.number %} class="active"{% endif %}>
                            <a href="?{% if query %}q={{ query }}&amp;{% endif %}page={{p}}{% if order_by %}&amp;order_by={{ order_by }}{% endif %}">{{p}}</a>
                        </li>
                        {% endfor %}
                        {% if texts.has_next %}
                        <li>
                            <a href="?{% if query %}q={{ query }}&amp;{% endif %}page={{ texts.next_page_number }}{% if order_by %}&amp;order_by={{ order_by }}{% endif %}">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
            {% else %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Project Texts</h3>
                </div>
                <div class="panel-body">
                    <p>
                        This project has no texts. Perhaps you should add <a href="{% url "repository_list" %}?project_id={{ project.id }}">one</a>?
                    </p>
                </div>
            </div>
            {% endif %}

            {% if relations and relations.count > 0 %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Recent Annotations
                        <a class="btn btn-sm btn-default pull-right" href="{% url "relations" %}?project={{ project.id }}">See all</a>
                    </h3>
                </div>
                <div class="panel-body">
                    {% include "annotations/relations_list_fragment.html" %}
                </div>
            </div>
            {% endif %}
        </div>

        <!-- Collaborators Section -->
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Project Members ({{ project.num_collaborators|add:"1" }})</h3>
                </div>
                <div class="panel-body">
                    {% if user.id == project.ownedBy.id %}
                    <form method="POST" action="{% url 'add_collaborator' project.id %}" class="form-inline add-collaborator-form" style="margin-bottom: 15px;">
                        {% csrf_token %}
                        <div class="input-group">
                            <input type="text" name="username" class="form-control" placeholder="Username">
                            <span class="input-group-btn">
                                <button type="submit" class="btn btn-primary">Add</button>
                            </span>
                        </div>
                    </form>
                    {% endif %}

                    <div class="list-group">
                        <!-- Project Owner -->
                        <div class="list-group-item" data-toggle="tooltip" title="Texts Added: {{ owner_stats.num_texts_added }}<br>Appellations: {{ owner_stats.num_appellations }}<br>Relations: {{ owner_stats.num_relations }}">
                            <div class="media">
                                <div class="media-left">
                                    <img class="media-object img-circle" src="{% if owner_stats.user.imagefile %}{{ owner_stats.user.imagefile }}{% else %}https://s3-us-west-2.amazonaws.com/vogonweb-test/defaultprofile.png{% endif %}" style="width: 50px; height: 50px;">
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading">{{ owner_stats.user.username }}</h4>
                                    <small class="text-muted">Owner</small>
                                </div>
                            </div>
                        </div>

                        {% for collaborator in collaborator_stats %}
                        <div class="list-group-item" data-toggle="tooltip" title="Texts Added: {{ collaborator.num_texts_added }}<br>Appellations: {{ collaborator.num_appellations }}<br>Relations: {{ collaborator.num_relations }}">
                            <div class="media">
                                <div class="media-left">
                                    <img class="media-object img-circle" src="{% if collaborator.user.imagefile %}{{ collaborator.user.imagefile }}{% else %}https://s3-us-west-2.amazonaws.com/vogonweb-test/defaultprofile.png{% endif %}" style="width: 50px; height: 50px;">
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading">{{ collaborator.user.username }}</h4>
                                    <small class="text-muted">Collaborator</small>
                                </div>
                                {% if user.id == project.ownedBy.id %}
                                <div class="media-right">
                                    <form method="POST" action="{% url 'remove_collaborator' project.id %}" style="display: inline;">
                                        {% csrf_token %}
                                        <input type="hidden" name="username" value="{{ collaborator.user.username }}">
                                        <button type="submit" class="btn btn-warning btn-sm" onclick="return confirm('Remove {{ collaborator.user.username }} from project?');">
                                            <span class="glyphicon glyphicon-remove"></span>
                                        </button>
                                    </form>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}