{% extends "annotations/base.html" %}
{% load staticfiles %}

{% block extrahead %}
<script src="{% static "annotations/js/spin.min.js" %}"></script>
<script src="{% static "annotations/js/jquery.spin.js" %}"></script>
<script src="{% static "annotations/js/cytoscape.min.js" %}"></script>

<script>
$(document).ready(function() {
    // Show loading spinner when clicking on a project link for text import
    $('.project-import-link').click(function(e) {
        $(this).spin();
    });
});
</script>

{% endblock %}

{% block breadcrumbs %}
<a href="{% url "home" %}" class="btn btn-xs">Home</a>&raquo;<a href="{% url "list_projects" %}" class="btn btn-xs">Projects</a>
{% endblock %}

{% block main %}
<div class="container-fluid">
    {% block titleblock %}
    <div class="h2">
        {{ title }}
        <a class="pull-right btn btn-md"
            href="{% url "create_project" %}">
            <span class="gylphicon glyphicon-plus"></span> Create Project
        </a>
    </div>
    {% endblock %}

    <div class="list-group">
        {% if projects %}
            {% for project in projects %}
            {% if redirect_to_text_import %}
                <a class="list-group-item project-import-link"
                    href="{% url 'repository_text_import' repository_id group_id text_key file_id project.id %}">
            {% else %}
                <a class="list-group-item"
                    href="{% url "view_project" project.id %}">
            {% endif %}
                <span class="h4">{{ project.name }}</span>
                <span class="text text-muted">{{ project.description }}</span>
                <div class="text-warning">
                    Created by <strong>{{ project.ownedBy__username }}</strong> on {{ project.created }}
                </div>
                <div>
                    {{ project.num_texts }} texts, {{ project.num_relations }} relations, {{ project.num_collaborators }} collaborators.
                </div>
            </a>
            {% endfor %}
        {% else %}
            <div class="alert alert-info">
                You haven't been added to or created any projects yet. 
                Click <a href="{% url "create_project" %}" class="alert-link">here</a> to create your first project.
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}
