{% extends "annotations/base.html" %}
{% load staticfiles %}

{% block breadcrumbs %}
<a href="{% url "home" %}" class="btn btn-xs">Home</a>&raquo;
<a href="{% url "repository_list" %}{% if project_id %}?project_id={{ project_id }}{% endif %}" class="btn btn-xs">Repositories</a>&raquo;
<a href="{% url "repository_details" repository.id %}{% if project_id %}?project_id={{ project_id }}{% endif %}" class="btn btn-xs">{{ repository.name }}</a>&raquo;
<a href="{% url "repository_collections" repository.id %}{% if project_id %}?project_id={{ project_id }}{% endif %}" class="btn btn-xs">Collections</a>&raquo;
<a href="{% url "repository_collection" repository.id group_id %}{% if project_id %}?project_id={{ project_id }}{% endif %}" class="btn btn-xs">{{ group_info.name }}</a>
{% endblock %}
{% block main %}
<div class="container">
    <h1>{{ title }}{{ group_info.name }}</h1><br>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Title</th>
                <th>Authors</th>
                <th>Item Type</th>
                <th>Volume</th>
                <th>Pages</th>
                <th>URL</th>
                <th>Date Added</th>
                <th>Files</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for text in texts %}
            <tr>
                <td>{{ text.title }}</td>
                <td>
                    {% for author in text.authors %}
                        {% if author.firstName and author.lastName %}
                            {{ author.firstName }} {{ author.lastName }}
                        {% else %}
                            {{ author.name }}
                        {% endif %}
                        {% if not forloop.last %}, {% endif %}
                    {% empty %}
                        No authors listed
                    {% endfor %}
                </td>
                <td>{{ text.itemType }}</td>
                <td>{{ text.volume|default:"N/A" }}</td>
                <td>{{ text.pages|default:"N/A" }}</td>
                <td><a href="{{ text.url|default:"#" }}" target="_blank">{{ text.url|default:"No URL" }}</a></td>
                <td>{{ text.dateAdded }}</td>
                <td>{% if text.gilesUploads and text.gilesUploads|length > 0 %}<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark" viewBox="0 0 16 16">
                    <path d="M14 4.5V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h5.5zm-3 0A1.5 1.5 0 0 1 9.5 3V1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V4.5z"/>
                  </svg>{% else %}{% endif %}</td>
                <td>
                    <a href="{% url "repository_text_import" repository.id group_id text.key %}{% if project_id %}?project_id={{ project_id }}{% endif %}" class="btn btn-info">Import</a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="8">No texts available in this group.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

  <!-- Pagination -->
  <nav aria-label="Page navigation">
    <ul class="pagination">
        {% if texts.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page={{ texts.previous_page_number }}{% if project_id %}&project_id={{ project_id }}{% endif %}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
        {% endif %}

        {% for i in texts.paginator.page_range %}
            {% if texts.number == i %}
                <li class="page-item active"><span class="page-link">{{ i }} <span class="sr-only">(current)</span></span></li>
            {% else %}
                <li class="page-item"><a class="page-link" href="?page={{ i }}{% if project_id %}&project_id={{ project_id }}{% endif %}">{{ i }}</a></li>
            {% endif %}
        {% endfor %}

        {% if texts.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ texts.next_page_number }}{% if project_id %}&project_id={{ project_id }}{% endif %}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        {% endif %}
    </ul>
</nav>

</div>
{% endblock %}
