{% extends "annotations/base.html" %}
{% load app_filters %}
{% load addcss %}
{% load staticfiles %}

{% block breadcrumbs %}
<a href="{% url "home" %}" class="btn btn-xs">Home</a>&raquo;
<a href="{% url "repository_list" %}{% if project_id %}?project_id={{ project_id }}{% endif %}" class="btn btn-xs">Repositories</a>&raquo;
<a href="{% url "repository_details" repository.id %}{% if project_id %}?project_id={{ project_id }}{% endif %}" class="btn btn-xs">{{ repository.name }}</a>&raquo;
<a href="{% url "repository_collections" repository.id %}{% if project_id %}?project_id={{ project_id }}{% endif %}" class="btn btn-xs">Collections</a>&raquo;
<a href="{% url "repository_collection" repository.id group_id %}{% if project_id %}?project_id={{ project_id }}{% endif %}" class="btn btn-xs">{{ group.name }}</a>
{% endblock %}

{% block main %}

<script src="{% static "annotations/js/bootstrap-datepicker.min.js" %}"></script>
<div class="container-fluid">
    <div class="h3">Browsing collection {{ collection.name }} in repository <strong>{{ repository.name }}</strong></div>

    <div class="container-fluid">
        <div class="h3">Collections in group {{ group.name }} of repository <strong>{{ repository.name }}</strong></div>
    
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Collection Name</th>
                    <th>Number of Items</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Texts in {{ group.name }}</td>
                    <td>{{ group.numItems }}</td>
                    <td><a href="{% url "repository_group_text_list" repository.id group_id %}{% if project_id %}?project_id={{ project_id }}{% endif %}" class="btn btn-info">View</a></td>
                </tr>
                {% for collection in collections %}
                    <tr>
                        <td>{{ collection.name }}</td>
                        <td>{{ collection.numberOfItems }}</td>
                        <td><a href="{% url "repository_collections_text_list" repository.id group_id collection.key %}{% if project_id %}?project_id={{ project_id }}{% endif %}" class="btn btn-info">View</a></td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="3">No collections available.</td>
                    </tr>
                </a>
                {% endfor %}
            </tbody>
        </table>
    
    <!-- Pagination for subcollections -->
    <div class="row">
        <div class="col-xs-12 clearfix">
        {% if previous_page %}
        <a href="{{ previous_page }}" class="btn btn-xs">&laquo; Previous</a>
        {% endif %}

        {% if next_page %}
        <div class="pull-right btn-group">
            <a href="{{ next_page }}" class="btn btn-xs">Next &raquo;</a>
        </div>
        {% endif %}
        </div>
    </div>

    <!-- Display resources -->
    <div class="list-group">
        {% for result in collection %}
            <p>1{{ result }}</p>
        {% endfor %}
    </div>

    <!-- Pagination for resources -->
    <div class="row">
        <div class="col-xs-12 clearfix">
        {% if previous_page %}
        <a href="{{ previous_page }}" class="btn btn-xs">&laquo; Previous</a>
        {% endif %}

        {% if next_page %}
        <div class="pull-right btn-group">
            <a href="{{ next_page }}" class="btn btn-xs">Next &raquo;</a>
        </div>
        {% endif %}
        </div>
    </div>
</div>
{% endblock %}
