{% extends "annotations/base.html" %}
{% load app_filters %}
{% load addcss %}
{% load staticfiles %}

{% block breadcrumbs %}
<a href="{% url "home" %}" class="btn btn-xs">Home</a>&raquo;
<a href="{% url "repository_list" %}{% if project_id %}?project_id={{ project_id }}{% endif %}" class="btn btn-xs">Repositories</a>&raquo;
<a href="{% url "repository_details" repository.id %}{% if project_id %}?project_id={{ project_id }}{% endif %}" class="btn btn-xs">{{ repository.name }}</a>&raquo;
{% endblock %}

{% block main %}
<div class="container-fluid">
    <div class="h3">{{ result.title }} <span class="small">in repository <strong>{{ repository.name }}</strong></span></div>
    <p class="text-warning">{{ result.uri }}</p>

    {% if project_id %}
        {% if in_project %}
            <div class="btn btn-xs btn-success">
                <span class="glyphicon glyphicon-ok"></span> Text already in {{ project.name }}
            </div>
        {% else %}
            <a class="btn btn-xs btn-primary" href="{% url "repository_text_add_to_project" repository.id text_id project_id %}">
                <span class="glyphicon glyphicon-plus"></span> Add to {{ project.name }}
            </a>
        {% endif %}
    {% endif %}

    {% if words %}
        <p class="text-muted">Click on any word below to start annotating.</p>
        <div class="container">
            <!-- Loop through each word -->
            {% for word_id, word_text in words %}
                <span class="text-word">
                    <a href="{% url 'annotate' master_text.id %}?word_id={{ word_id }}">{{ word_text }}</a>
                </span>
            {% endfor %}
        </div>
    {% else %}
        <p>This text has no content available for annotation.</p>
    {% endif %}

    {% if relations %}
        <div class="h3">Recent Annotations
            <a class="btn btn-sm" href="{% url "relations" %}?occursIn={{ master_text.uri }}">See all</a>
        </div>
        {% include "annotations/relations_list_fragment.html" %}
    {% endif %}
</div>
{% endblock %}
