{% extends "annotations/base.html" %}
{% load app_filters %}
{% load addcss %}
{% load staticfiles %}

{% block breadcrumbs %}
<a href="{% url "home" %}" class="btn btn-xs">Home</a>&raquo;
<a href="{% url "repository_list" %}{% if project_id %}?project_id={{ project_id }}{% endif %}" class="btn btn-xs">Repositories</a>&raquo;
<a href="{% url "repository_details" repository.id %}{% if project_id %}?project_id={{ project_id }}{% endif %}" class="btn btn-xs">{{ repository.name }}</a>
{% endblock %}

{% block main %}
<script src="{% static "annotations/js/bootstrap-datepicker.min.js" %}"></script>

<div class="container-fluid">
    <div class="h3">Repository <strong>{{ repository.name }}</strong></div>
    <p class="">{{ repository.description }}</p>

    <ul class="nav nav-pills nav-justified">
        <li>
            <a href="{% url "repository_search" repository.id %}{% if project_id %}?project_id={{ project_id }}{% endif %}">Search</a>
        </li>
        <li>
            <a href="{% url "repository_collections" repository.id %}{% if project_id %}?project_id={{ project_id }}{% endif %}">Browse</a>
        </li>
    </ul>

    <h2 class="mt-5 mb-5 text-center">Your Texts</h2>

    <div class="container mt-5">
        {% if texts_by_project %}
            {% for project, texts in texts_by_project.items %}
                <h3 class="project-title">
                    <a href="{% url 'view_project' project.id %}" class="project-link" style="color: inherit; text-decoration: none;">
                        <span class="project-name">{{ project.name|title }}</span>
                        <i class="fas fa-external-link-alt"></i>
                    </a>
                </h3>
                <table class="table table-striped mt-3">
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Creator</th>
                            <th>Created On</th>
                            <th>Added On</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for text in texts %}
                            <tr>
                                <td><a href="{% url "annotate" text.id %}{% if project_id %}?project_id={{ project_id }}{% endif %}">{{ text.title }}</a></td>
                                <td>{{ text.addedBy }}</td>
                                <td style="width: 120px;">{{ text.created|date:"Y-m-d" }}</td>
                                <td style="width: 120px;">{{ text.added|date:"Y-m-d" }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endfor %}
        {% else %}
            <p>No texts available in this repository.</p>
        {% endif %}
    </div>
</div>
{% endblock %}
