{% extends "annotations/base.html" %}
{% load static %}

{% block breadcrumbs %}
    <a href="{% url 'home' %}" class="btn btn-xs">Home</a>
    &raquo;<a href="{% url 'dashboard' %}" class="btn btn-xs">Dashboard</a>
    &raquo;<a href="{% url 'list_citesphere_groups' %}" class="btn btn-xs">Citesphere Groups</a>
{% endblock %}

{% block main %}

    {% if messages %}
    <div class="container mt-3">
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
            {{ message }}
        </div>
        {% endfor %}
    </div>
    {% endif %}

    <div class="container">

        <div class="row">
            <div class="col-12">
                {% if groups %}
                    <div class="table-responsive">
                        <table class="table table-striped table-hover">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Version</th>
                                    <th scope="col">Items</th>
                                    <th scope="col">Type</th>
                                    <th scope="col">Created</th>
                                    <th scope="col">Last Modified</th>
                                    <th scope="col">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for group in groups %}
                                    <tr>
                                        <th scope="row">{{ forloop.counter }}</th>
                                        <td>{{ group.name }}</td>
                                        <td>{{ group.version }}</td>
                                        <td>{{ group.num_items }}</td>
                                        <td>{{ group.type }}</td>
                                        <td>{{ group.date_created|date:"M d, Y" }}</td>
                                        <td>{{ group.date_modified|date:"M d, Y" }}</td>
                                        <td>
                                            <a href="{% url 'citesphere_group_detail' group.slug %}" class="btn btn-info">View Group</a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% else %}
                    <p class="text-center">No data available.</p>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}
