{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content_extra %}

    {% if user.is_authenticated %}
    
        {% include "account/snippets/already_logged_in.html" %}
        {% block content %} {% endblock %}
    
    {% else %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6 col-lg-4">
                <div class="card">
                    <div class="card-header text-center bg-info text-white">
                        <h3 class="h3" id="head_banner">{% trans "Password Reset" %}</h3>
                    </div>
                    <div class="card-body">
                        <p class="forgot_password_info text-center">{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>

                        <form method="POST" id="forgot_password_form" action="{% url 'account_reset_password' %}">
                            {% csrf_token %}
                            <div class="form-group">
                                {{ form.as_p }}
                            </div>
                            <div class="d-grid gap-2">
                                <input class="btn btn-outline-primary btn-block" type="submit" value="{% trans 'Reset My Password' %}" />
                            </div>
                        </form>

                        <p class="forgot_password_info text-center mt-3">{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}

{% endblock %}
